.idea/
/.vs/hammerstone-framework/FileContentIndex
/.vs/hammerstone-framework/v17
*.sqlite
*.json
/patches/mainThread/ui/actionUI_after.lua.temp
/patches/mainThread/ui/TODO.txt
/patched/mainThread/ui
